
.offcanvas-parent-cus {
    height: 100% !important;
}



.navbar-tglr-cus:focus {
    
    border: 0 !important;
    box-shadow: none !important;

    
}

.navbar-tglr-cus {
    
    border: 0 !important;

    
}
.form-cus-1 {
    
    align-items: center !important;
    justify-content: end !important;
    margin-left: -105px !important;
   
}
.form-cus-1 button {
    border-radius: 0;
}

.log-btn-cus-1 {
    background-color: black !important;
}


.reg-btn-cus-2 {
    background-color: white !important;
    color: black !important;
    border-color: black !important;
}
.reg-btn-cus-2:hover {
    background-color: black !important;
    color: white !important;
}