.icon-wrapping a {
   display: inline-block;
}

.problem-four {
    display: flex !important;
    flex-direction: row !important;
}
.copywrit-cus-text {
    
    margin-left: 5px;
}
.icon-wrapping {
    display: flex;
    gap: 20px;
    margin-left: 30%;
}
.copywrite-cus {
    margin-left: 40%;
}
.copy-icon {
    margin-top: 6px;
}